.article-header {
	background-color: var(--main-color);
}
.article-header-wrap {
    padding-top: 6.7rem;
    max-width: 1200px;
    margin: 0 auto;
}
.article-header-container {
	display: grid;
	grid-template-columns: 1.8fr 1.2fr;
	gap: 5rem;
	padding: 2rem 5rem;
}
.article-header-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 0;
	word-break: keep-all;
}
.article-header-text span {
    display: block;
    width: fit-content;
    font-size: 1.4rem;
    line-height: 3rem;
    font-family: GmarketSansMedium;
    padding: 0px 1rem;
    border: 1px solid var(--text-color-small);
    color: var(--text-color-small);
    border-radius: 1.5rem;
    margin-bottom: 2rem;
}
.article-header-text h4 {
    color: var(--text-color-small);
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.8rem;
}
.article-header-text h3 {
    font-size: 4.2rem;
    font-family: Paperlogy-3Light;
    color: var(--text-color-title2);
    line-height: 1.2;
    margin-bottom: 2rem;
    letter-spacing: -0.02rem;
}
.article-header-text h2 {
    font-size: 5.6rem;
    font-family: Paperlogy-8ExtraBold;
    color: var(--text-color-title);
    line-height: 1.2;
    margin-bottom: 2rem;
}
.article-header-text h2 em {
	display: block;
	color: var(--text-color-title2);
}
.article-header-text h2 b {
    font-size: 3rem;
    margin-left: 1rem;
}
.article-header-text p {
    color: var(--text-color-small);
    font-size: 1.6rem;
    width: 90%;
}
.article-meta {
    margin: 2rem 0;
}
.article-meta span {
    display: inline;
    padding: 0;
    border: 0;
    font-size: 1.5rem;
    font-family: 'pretendard variable';
}
.article-meta span.b {
    font-weight: 700;
    margin-right: 0.3rem;
}
.article-meta span.pipe {
    font-weight: 100;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}
.article-meta span.dot {
    margin: 0 0.5rem;
}
.article-header-image {
    position: relative;
}
.article-header-image figure {
    width: 100%;
    border-radius: 3rem;
    overflow: hidden;
    transform: rotate(3deg) translateY(30px);
    position: relative;
    z-index: 2;
}

.header-dual .article-header-wrap {
    max-width: 100vw;
    height: 100vh;
}
.header-dual .article-header-container {
    grid-template-columns: 1fr 1fr;
    gap: 0;
    padding: 0;
    height: 100%;
}
.header-dual .article-header-image {
    height: 100%;
    overflow: hidden;
}
.header-dual .article-header-image figure {
    border-radius: 0;
    transform: rotate(0deg) translateY(0px);
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.header-dual .article-header-image figure img {
    position: absolute;
    top: 0;
    left: 0;
}
.header-dual .article-header-text {
    padding: 0 4rem 4rem;
}
.header-dual .article-header-text p {
    color: var(--text-color-small);
    font-size: 1.6rem;
    line-height: 1.6;
    margin-top: 1rem;
}

.article-header-container.header-mono {
    display: flex;
    flex-direction: column;
}
.header-mono .article-header-image figure {
    width: 30%;
    border-radius: 0;
    overflow: hidden;
    left: 50%;
    transform: rotate(0deg) translateY(0) translateX(-50%);
}

.header-mono .article-header-text h2 {
    font-size: 5rem;
    color: var(--main-color);
    text-align: center;
}
.header-mono .article-header-text p {
    font-size: 1.6rem;
    line-height: 1.6;
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
}
.header-mono .article-header-text .article-meta {
    margin: 0 auto;
}


.article-body-wrap {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 5rem 10rem;
}
.article-prologue {
    width: 100%;
    margin: 15rem auto 0;
    padding: 2.6rem 3.6rem 1rem;
    background-color: var(--main-color);
    position: relative;
    border-radius: 1.5rem;
}
.article-prologue:before {
    position: absolute;
    left: 50%;
    top: -71px;
    width: 11px;
    height: 11px;
    margin-left: -5px;
    border: 1px solid var(--main-color);
    border-radius: 11px;
    background-color: #fff;
    content: "";
}
.article-prologue:after {
    position: absolute;
    left: 50%;
    top: -60px;
    width: 1px;
    background-color: var(--main-color);
    content: "";
    height: 60px;
}
.article-prologue p {
    padding-bottom: 1.6rem;
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 1.65;
}
.article-text {
    margin-top: 5rem;
}
.article-text h4 {
    color: var(--main-color);
    font-family: Paperlogy-5Medium;
    font-size: 2.2rem;
    line-height: 1.3;
    letter-spacing: -0.01rem;
    margin: 3rem 0 1rem;
}
.article-text h5 {
    color: var(--main-color);
    font-family: Paperlogy-5Medium;
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: -0.01rem;
    margin: 5rem 0 1rem;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}
.article-text p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    line-height: 1.76;
    color: #2a2a2a;
}
.article-image {
    width: 100%;
    max-width: 100vw !important;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 4rem 0 5rem 0;
}
.article-image.big-image {
    width: 160%;
}
.article-image.small-image {
    width: 80%;
}
.article-image figure {
    width: 100%;
    max-width: 100vw !important;
}
.article-image figcaption {
    font-size: 1.3rem;
    margin-top: 0.5rem;
    color: var(--text-color-small);
}
.article-image.dual-image .article-image-container {
    display: flex;
    gap: 0.5rem;
}
.article-image.dual-image-column .article-image-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.article-image-text {
    margin: 5rem auto;
}
.article-image-text .article-image-container {
    display: flex;
    gap: 3rem;
}
.article-image-text .article-image-text-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.article-image-text-text p {
    font-family: 'KBIZHanmaumMyungjo';
    color: var(--main-color);
}
.article-image-text-text p em {
    font-size: 1.6rem;
    font-family: 'GmarketSansLight';
    color: var(--main-color);
    letter-spacing: -0.1rem;
    line-height: 1;
    display: block;
}
.icon_last {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    background: url(../images/icon_last.png) 0 0 no-repeat;
    background-size: 100% 100%;
    margin-left: .3em;
    vertical-align: baseline;
}
.quote-normal {
    padding: 2rem 0;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--main-color);
    font-size: 2rem;
    letter-spacing: -0.1rem;
    font-weight: 500;
    font-family: GowunDodum-Regular;
}
.quote-normal::before {
    content: '66';
    font-size: 2.5rem;
    font-family: 'GmarketSansLight';
    color: var(--main-color);
    letter-spacing: -0.2rem;
    line-height: 1;
    position: absolute;
    top: -0.5rem;
    left: 0rem;
}
.quote-normal::after {
    content: '99'; 
    font-size: 2.5rem;
    font-family: 'GmarketSansLight';
    color: var(--main-color);
    letter-spacing: -0.2rem;
    line-height: 1;
    position: absolute;
    bottom: -1rem;
    left: 0rem;
}
.quote-center {
    padding: 2rem 10rem;
    position: relative;
    margin-bottom: 2rem;
    color: var(--main-color);
    font-size: 2rem;
    letter-spacing: -0.1rem;
    font-weight: 500;
    font-family: GowunDodum-Regular;
    text-align: center;
    word-break: keep-all;
    line-height: 1.8;
}
.quote-center cite {
    display: block;
    font-size: 1.6rem;
    color: #000;
    font-family: 'Pretendard Variable';
    margin-top: 1rem;
}
.normal-box {
    background-color: var(--box-bg-color);
    padding: 3rem;
    border-radius: 2rem;
}
.normal-box.dual-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.normal-box h4.normal-box-stitle {
    color: #000;
    margin: 0;
    font-size: 1.5rem;
}
.normal-box h5.normal-box-title {
    font-family: 'YUniverse-B';
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 2.2rem;
    text-decoration: none;
    color: var(--box-text-color);
}
.normal-box h6 {
    font-family: 'Paperlogy-5Medium';
    color: var(--box-text-color);
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}
.normal-box li {
    position: relative;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
}
.normal-box li::before {
    content: "•";
    position: absolute;
    top: -1px;
    left: 0.5rem;
}
.box-in-box {
    margin-top: 2rem;
}
.normal-box span {
    font-weight: 700;
    margin-right: 1rem;
}
.normal-box.dual-box .normal-box-image {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.chef-box {
    width: 80%;
    margin: 5rem auto 3rem;
    padding: 10rem 3rem 6rem;
    background-color: #fff;
    border-top-left-radius: calc(var(--box-width) / 2) calc(var(--box-width) / 2);
    border-top-right-radius: calc(var(--box-width) / 2) calc(var(--box-width) / 2);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
}
.chef-box::after {
    content: "";
    display: block;
    width: calc(100% - 60px);
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 3rem;
}
.chef-box-header {
    position: relative;
}
.chef-box-header:before {
    content: '';
    display: block;
    width: 5rem;
    height: 5.5rem;
    background-image: url(../contents/sub_23_icon.png);
    background-size: cover;
    position: absolute;
    top: -6rem;
    left: 50%;
    transform: translateX(-50%);
}
.chef-box-header span {
    display: block;
    font-family: 'YUniverse-B';
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding: 0 2rem;
    width: fit-content;
    border: 1px solid var(--main-color);
    border-radius: 1.1rem;
    margin: 0 auto;
    background-color: #fff;
    z-index: 2;
    position: relative;
}
.chef-box-header:after {
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    background-color: var(--main-color);
    top: 1.2rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
.chef-box-header h6 {
    text-align: center;
    font-family: Paperlogy-4Regular;
    font-size: 2rem;
    color: var(--box-text-color);
    margin: 1.5rem 0;
}
.chef-box-image {
    width: 40%;
    aspect-ratio: 1 / 1;
    margin: 0 auto 3rem;
    border-radius: 50%;
    overflow: hidden;
}
.chef-box blockquote {
    color: var(--box-text-color);
    font-size: 1.8rem;
    font-weight: 500;
    font-family: GowunDodum-Regular;
    line-height: 1.7;
    margin-bottom: 3rem;
    width: 85%;
    word-break: keep-all;
}

.book-box {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 1.5rem;
    box-shadow: 0.6rem 0.6rem 0px 0.2rem rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
    position: relative;
}
.book-box-header {
    text-align: center;
}
.book-box-header h5 {
    border-bottom: 1px solid var(--main-color);
    margin-top: 2rem;
    padding-bottom: 1.5rem;
    text-decoration: none;
    color: var(--book-head-color);
}
.book-box-header h4 {
    margin-bottom: 0.5rem;
}
.book-box-header h6 {
    font-size: 1.4rem;
}
.book-box-image {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0 3rem;
}
.book-box p {
    padding: 0 3rem;
}
.book-box .book-box-tag {
    font-size: 2rem;
    color: var(--book-tag-color);
    padding: 0 3rem 4rem;
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 8rem;
}
.book-box::after {
    content: '';
    display: block;
    width: 6rem;
    height: 0.6rem;
    border-radius: 0.3rem;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 3.8rem;
    left: 50%;
    transform: translateX(-50%);
}

.table-big {
    width: 160%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 5rem 0;
}
.dream-box {
    margin-top: 8rem;
    background-color: var(--box-bg-color);
    border-top: 0.5rem solid var(--box-border-color);
    padding: 0 3rem 3rem;
}
.dream-box h4 {
    margin: 0 auto;
    background-color: var(--box-border-color);
    color: #fff;
    width: 90%;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 5rem;
}
.dream-box h5 {
    color: #fff;
    background-color: var(--box-text-color);
    text-decoration: none;
    font-size: 1.8rem;
    text-align: center;
    padding: 1.5rem 4rem;
    width: fit-content;
    height: 7.6rem;
    border-radius: 3.8rem;
    font-family: Pretendard;
    font-weight: 500;
    margin: 3rem auto 2rem;
}
.dream-box h6 {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    color: var(--box-text-color);
}
.dream-box p {
    text-align: center;
    width: 82%;
    margin: 0 auto 2rem;
    word-break: keep-all;
}
.dream-box-image {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.dream-box-qr figure {
    width: 10rem;
    margin: 5rem auto 1rem;
}
.dream-box-qr span {
    text-align: center;
    font-size: 1.5rem;
    display: block;
    margin: 0.5rem 0;
}

.hotple {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding-top: 12rem;
}
.hotple:first-child {
    padding-top: 2rem;
} 
.hotple-top {
    margin-bottom: 3rem;
}
.hotple-title h3 {
    text-align: center;
    font-size: 4rem;
    font-family: Paperlogy-7Bold;
    color: var(--text-color-title2);
    position: relative;
    z-index: 2;
}
.learncation .hotple-title h3 {
    color: var(--text-color-title3);
}
.hotple-title h3.hotple-title-bottom {
    color: #fff;
}
.hotple-title figure {
    margin-top: -6rem;
    position: relative;
}
.hotple-title figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 30%);
}
.hotple-text {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    gap: 5rem;
    margin-top: 3rem;
}
.hotple-text-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hotple-text-left p {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 10rem;
}
.hotple-image {
    display: flex;
    gap: 0.5rem;
}
.hotple-text-right {
    border-left: 0.005rem solid #000;
    padding-left: 3rem;
}
.hotple-info {
    margin-bottom: 6rem;
    position: relative;
}
.hotple-info::before {
    content: '';
    display: block;
    width: 3rem;
    height: 3rem;
    background: url(../images/sub_42_icon_1.png) 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: -4.5rem;
    top: 0;
}
.info-tour::before {
    background-image: url(../images/sub_42_icon_2.png);
}
.learncation .hotple-info::before {
    background-image: url(../images/sub_42_icon_3.png);
}
.learncation .info-tour::before {
    background-image: url(../images/sub_42_icon_3.png);
}
.hotple-info h5 {
    color: var(--text-color-title2);
    font-size: 2rem;
    font-family: 'Paperlogy-5Medium';
    margin-bottom: 0.5rem;
}
.learncation .hotple-info h5 {
    color: var(--text-color-title3);
}
.hotple-info li {
    font-size: 1.4rem;
}
.hotple-info li span {
    font-weight: 600;
    margin-right: 1rem;
}
.hotple-info h6 {
    font-size: 1.6rem;
    font-weight: 600;
}
.hotple-info p {
    font-size: 1.4rem;
}
.farm-top {
    width: 100%;
    max-width: 80rem;
    margin: 10rem auto 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 0.5rem;
    border-bottom: 0.05rem solid #000;
}
.farm-top:first-child {
    margin-top: 0;
}
.farm-top h4 {
    font-size: 1.8rem;
    font-family: 'Paperlogy-5Medium';
}
.farm-top h5 {
    font-size: 1.4rem;
    line-height: 2.3rem;
}
.farm-top h5 span {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--text-color-title);
    border: 1px solid var(--text-color-title);
    padding: 0 0.8rem;
    border-radius: 0.9rem;
    margin-left: 0.6rem;
}
.farm-top h5 span em {
    font-family: 'Paperlogy-9Black';
}
.farm-top a span {
    font-size: 1.1rem;
}
.circle-farm {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    position: absolute;
    bottom: -1.25rem;
    right: 0;
    display: grid;
    place-items: center;
}
.farm-box {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto 5rem;
    padding-top: 6rem;
    position: relative;
}
.farm-box::before {
    content: '';
    display: block;
    width: 8rem;
    height: 8rem;
    background: url(../contents/sub_43_icon_1.png) 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: -1rem;
    z-index: 2;
}
.pet-farm.farm-box::before {
    background-image: url(../contents/sub_43_icon_2.png);
}
.farm-box h3 {
    font-size: 3rem;
    font-family: 'Paperlogy-6SemiBold';
    line-height: 1.2;
    margin: 0 0 1rem 3rem;
}
.farm-box h4 {
    font-size: 3rem;
    font-family: 'Paperlogy-6SemiBold';
    color: var(--text-color-title2);
    width: fit-content;
    padding: 0 2rem;
    border: 0.4rem solid var(--text-color-title2);
    border-radius: 2.8rem;
    margin: 0 0 3rem 3rem;
}
.pet-farm.farm-box h4 {
    color: var(--text-color-title3);
    border-color: var(--text-color-title3);
}
.farm-image-dual {
    margin: 1rem 0 5rem;
    display: flex;
    gap: 1rem;
}
.farm-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5rem;
}
.farm-text {
    font-size: 1.8rem;
    line-height: 1.76;
    order: 2;
}
.farm-info {
    order: 1;
    border-left: 0.05rem solid #000;
    border-right: 0.05rem solid #000;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.quote-farm {
    padding: 2rem 0;
    position: relative;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: Paperlogy-3Light;
}
.quote-farm::before {
    content: '66';
    font-size: 2rem;
    font-family: 'GmarketSansLight';
    color: var(--text-color-title2);
    letter-spacing: -0.2rem;
    line-height: 1;
    position: absolute;
    top: -0.2rem;
    left: 0rem;
}
.pet-farm .quote-farm::before {
    color: var(--text-color-title3);
}
.quote-farm::after {
    content: '99'; 
    font-size: 2rem;
    font-family: 'GmarketSansLight';
    color: var(--text-color-title2);
    letter-spacing: -0.2rem;
    line-height: 1;
    position: absolute;
    bottom: -0.5rem;
    left: 0rem;
}
.pet-farm .quote-farm::after {
    color: var(--text-color-title3);
}
.farm-text h6 {
    color: var(--text-color-title2);
    font-family: 'Paperlogy-5Medium';
    margin-top: 2rem;
}
.pet-farm .farm-text h6 {
    color: var(--text-color-title3);
}
.farm-info-text h6 {
    font-size: 1.3rem;
    font-family: 'Paperlogy-8ExtraBold';
    transform: rotate(90deg) translateY(-1.5rem);
    transform-origin: top left;
    margin-bottom: 10rem;
}
.farm-info-text p {
    font-size: 1.4rem;
    word-break: keep-all;
    margin-bottom: 0.5rem;
}
.farm-info-text p span {
    font-weight: 700;
}
.farm-qr span {
    margin-top: 1rem;
    font-size: 1.3rem;
    display: block;
    font-weight: 500;
}
.farm-qr figure {
    width: 60%;
    border: 0.05rem solid #000;
}
.town-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    width: 160%;
    margin: 0 auto 10rem;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.town-box.reverse .town-left {
    order: 2;
}
.town-box.reverse .town-right {
    order: 1;
}
.town-box h6 {
    font-size: 1.5rem;
    font-family: 'Paperlogy-6SemiBold';
}
.town-box h5 {
    width: fit-content;
    padding: 0.1rem 5rem 0.1rem 1rem;
    border: 0.2rem solid var(--input-box-color);
    border-radius: 1rem;
    font-family: 'Paperlogy-6SemiBold';
    font-size: 2rem;
    color: var(--main-color);
    position: relative;
    margin: 0.5rem 0 2rem;
}
.town-box h5::after {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
/*    background: url(../images/sub_44_icon.png) 0 0 no-repeat;*/
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50"><path d="M 21 4 C 11.082241 4 3 12.082241 3 22 C 3 31.917759 11.082241 40 21 40 C 24.62177 40 27.99231 38.91393 30.820312 37.0625 L 43.378906 49.621094 L 47.621094 45.378906 L 35.224609 32.982422 C 37.581469 29.938384 39 26.13473 39 22 C 39 12.082241 30.917759 4 21 4 z M 21 8 C 28.756241 8 35 14.243759 35 22 C 35 29.756241 28.756241 36 21 36 C 13.243759 36 7 29.756241 7 22 C 7 14.243759 13.243759 8 21 8 z"></path></svg>');
/*    background-color: red;*/
    background-repeat: no-repeat;
    background-size: contain;
}
.town-box p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    line-height: 1.7;
    color: #2a2a2a;
}
.town-left {
    display: flex;
    flex-direction: column;
}
.town-left ul {
    margin-top: auto;
}
.town-left li {
    font-size: 1.3rem;
    color: var(--main-color);
}
.town-left li span {
    font-weight: 600;
    margin-right: 0.5rem;
}
.town-right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.table-big table tr td,
.table-big table tr th {
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    padding: 1rem;
    font-size: 1.4rem;
    color: #333;
}
.table-big table tr th {
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 600;
}
.table-big table tr th:first-child,
.table-big table tr td:first-child {
    width: 20rem;
}
.table-big table tr td span {
    font-size: 1.5rem;
    font-weight: 500;
    display: block;
}

@media (min-width:1024px)and (max-width:1279px) {
    
}

@media (min-width:768px)and (max-width:1023px) {
    
}

@media (max-width:767px) {
    .article-header-wrap {
        padding-top: 8.2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .article-header-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 0;
    }
    .article-header-text span {
        font-size: 1.1rem;
        line-height: 2.56rem;
        margin-bottom: 1.2rem;
    }
    .article-header-text h2 {
        font-size: 3.52rem;
        margin-bottom: 0;
    }
    .header-mono .article-header-text h2 {
        font-size: 3rem;
    }
        .article-header-image {
        display: flex;
        justify-content: flex-end;
        margin-top: -2rem;
    }
    .article-header-image figure {
        width: 80%;
    }
    .header-dual .article-header-wrap {
        height: auto;
    }
    .header-dual .article-header-text {
        padding: 0 0 2rem;
    }
    .article-body-wrap {
        padding: 0 2rem 5rem;
    }
    .header-dual .article-header-image {
        width: 100vw;
        margin-left: -1.5rem;
    }
    .header-dual .article-header-image figure img {
        position: relative;
    }
    .article-header-container.header-mono .article-header-image {
        display: block;
        margin: 1rem 0;
    }
    .article-image {
        width: 100vw;
    }
    .article-image.small-image {
        width: 90%;
    }
    .normal-box.dual-box {
        display: flex;
        flex-direction: column;
    }
    .dream-box {
        padding: 0 1.5rem 3rem;
    }
    .dream-box h4 {
        font-size: 1.8rem;
    }
    .dream-box p {
        font-size: 1.6rem;
    }
    .quote-center {
        padding: 2rem;
    }
    .town-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .town-box.reverse .town-left {
        order: 1;
    }
    .town-box.reverse .town-right {
        order: 2;
    }

}





























